.navbar-default {
    background-color: #323232;
    border-color: white;
}

#import-box {
    margin-left: 20px;
}

.import-container {
    display: flex;
    padding: 10px 10px 0px 10px;
}

#dropbox-button {
    margin-top: 3px;
    margin-right: 20px;
}

.navbar {
    margin-bottom: 0;
    color: white;
    display: flex;
}

.nav-pills > li > a {
    color: white;
}

.container-fluid {
    margin-left:0;

}

.nav-pills > li > a:hover {
    background-color: #bdd7e7;
    color: white;
}

.buttons-container {
    margin-left: 5px;
    margin-top: 5px;
    padding-left: 255px ;
}

.navbar-brand {
    padding: 5px;
    padding-left: 20px;

}

.navbar-brand > img {
    height: 40px;
    width: auto;
}


.sidebar {
    background-color: #bdd7e7;
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-options {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.wrapper > div {
    border: 1px solid white;
}

.charts {
    height: 100vh;
    flex-grow: 20;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
}

.title {
    margin-right: 10px;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize main container */
@media (min-width: 768px) {
  .main-container {
      flex-grow: 5;

  }
}
.main-container-narrow > hr {
  margin: 30px 0;

}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
