.navbar-default {
    background-color: #323232;
    border-color: white;
}

#import-box {
    margin-left: 20px;
}

.import-container {
    display: flex;
    padding: 10px 10px 0px 10px;
}

#dropbox-button {
    margin-top: 3px;
    margin-right: 20px;
}

/*.btn {*/
    /*display: flex;*/
    /*flex-grow: 1;*/
    /*background-color: #f8f8f8;*/
    /*margin: 2px;*/
/*}*/

.btn {
    display: flex;
    flex-grow: 1;
    background-color: #f8f8f8;
    margin: 2px;


    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

/*.btn:focus.selected, .btn:hover.selected {*/
    /*color: white;*/
/*}*/

.btn:focus.selected, .btn:hover.selected {
    color: white;
}


/*.btn > .glyphicon {*/
    /*top: 2px;*/
    /*width: 20px;*/
    /*color: rgba(0, 0, 0, 0.46);*/
/*}*/

.btn > .glyphicon {
    top: 2px;
    width: 20px;
    color: rgba(0, 0, 0, 0.46);
}

.dataField {
    flex-grow: 1;
}

.property {
    display: flex;
}

.property-options {
    position: absolute;
    width: 200px;
    display: flex;
    flex-direction: column;
}

/*.property-options > .btn {*/
    /*border: 1px solid rgba(128, 128, 128, 0.27);*/
    /*flex-grow: 1;*/
/*}*/

.property-options .btn {
    border: 1px solid rgba(128, 128, 128, 0.27);
    flex-grow: 1;
}


/*.property-options .dimension {*/
    /*border: 1px solid rgba(128, 128, 128, 0.27);*/
/*}*/

.dimension-selection {
    display: flex;
    height: 17px;
    flex-grow: 1;
}

.dimension {
    flex-grow: 1;
    font-size: 10px;
    line-height: .3;
    display: flex;
    justify-content: center;
}

.dimension > .btn {
    font-size: 10px;
    line-height: .3;
    justify-content: center;
}

.nav > .active {
    opacity: 1;
}

.key {
    background-color: rgba(0, 128, 0, 0.35);
}

.value {
    background-color: rgba(249, 24, 4, 0.35);
}

.radius {
    background-color: rgba(255, 94, 0, 0.35);
}

.options-transition {
    transition: .25s linear all;
    transform: translateX(25px);
    opacity: 1;
}

.options-transition.ng-hide {
    transform: translateX(-239px);
    opacity: 0;
}

.selected {
    background-color: #428bca;
    color: white;
}

.navbar {
    margin-bottom: 0;
    color: white;
    display: flex;
}

.nav-pills > li > a {
    color: white;
}

.container-fluid {
    margin-left:0;

}

.nav-pills > li > a:hover {
    background-color: #bdd7e7;
    color: white;
}

.buttons-container {
    margin-left: 5px;
    margin-top: 5px;
    padding-left: 255px ;
}

.navbar-brand {
    padding: 5px;
    padding-left: 20px;

}

.navbar-brand > img {
    height: 40px;
    width: auto;
}

.sidebar {
    background-color: #bdd7e7;
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-options-container {
    width: 90%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.sidebar-options {
    display: flex;
    flex-direction: column;
}

.wrapper > div {
    border: 1px solid white;
}

.charts {
    height: 100vh;
    flex-grow: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
}

.content {
    display: flex;
}

.title {
    margin-right: 10px;
}

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Customize main container */
@media (min-width: 768px) {
    .main-container {
        flex-grow: 5;

    }
}
.main-container-narrow > hr {
    margin: 30px 0;

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
