<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.) styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/insightjs/1.4.0/insight.min.css">
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>


    <body ng-app="insightExplorer">
        <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
            your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="wrapper">
            <nav class="navbar navbar-default" role="navigation"  ng-controller="NavCtrl">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">
                            <img alt="Brand" src="./images/InsightBanner.png">
                        </a>
                    </div>
                    <div class="buttons-container">
                        <ul class="nav nav-pills nav-bar" >
                            <li ng-class="{active: isActive('/')}"><a ng-href="#/">Home</a></li>
                            <li ng-class="{active: isActive('/import')}"><a ng-href="#/import">Import Data</a></li>
                        </ul>
                    </div>
                </div>
                <div class='import-container'  ng-show="isActive('/import')" ng-cloak>
                    <div id="dropbox-button"></div>
                    <p >or provide your own URL</p>
                    <div id="import-box">
                        <form ng-submit="submitUrl()">
                            <input type="url" name="urlForm" ng-model="url" required/>
                        </form>
                    </div>
                </div>
            </nav>

            <div class="content">
                <div class="sidebar" ng-controller="SideCtrl">
                    <div class="sidebar-options-container">
                        <div class="sidebar-options" ng-repeat="dataField in dataFields" ng-init="index = $index" >
                            <div class = "property">
                                <div class="btn"  ng-click="selectProperty(index)" ng-class="{selected: isSelectedProperty(index)}" ng-cloak>
                                    <div class="dataField" ng-bind="dataField"></div>
                                    <div class="glyphicon glyphicon-list" ng-click="listOptions(index, $event)" ></div>
                                </div>
                                <div class="property-options options-transition" ng-show="optionsListed(index)" ng-cloak>
                                    <div ng-repeat="subProp in subProps" >
                                        <div class="btn" ng-click="selectProperty(index, subProp)">
                                            <span class="dataField ">{{dataField}} {{subProp}}</span>
                                        </div>
                                        <div class="dimension-selection" ng-show="isSelectedProperty(index, subProp)">
                                            <div class="dimension" ng-repeat="dimension in dimensions">
                                                <div class="btn" ng-click="selectDimension(index, dimension, dataField, subProp)" ng-class="isSelectedDimension(index, dimension, subProp)">{{dimension}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dimension-selection" ng-show="isSelectedProperty(index)" ng-cloak>
                                <div class="dimension" ng-repeat="dimension in dimensions">
                                    <div class="btn" ng-click="selectDimension(index, dimension, dataField)" ng-class="isSelectedDimension(index, dimension)">{{dimension}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sidebar-options">
                        <div class="btn btn-default" ng-repeat="chart in charts" ng-show="dataFields.length > 0" ng-disabled="enableByChosenProperties(chart)" ng-click="selectChart(chart.type)" ng-bind="chart.name" ng-cloak></div>
                    </div>
                </div>


                <div class="charts">
                    <div ng-view=""></div>
                </div>
            </div>
        </div>

        <!-- build:js(.) scripts/oldieshim.js -->
        <!--[if lt IE 9]>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/json3/lib/json3.js"></script>
        <![endif]-->
        <!-- endbuild -->

        <!-- build:js(.) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <!-- endbower -->
        <!-- endbuild -->
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.11/crossfilter.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/insightjs/1.4.0/insight.min.js"></script>
        <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="zvy44ovo0jkzdy3"></script>

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="app.module.js"></script>
        <script src="app.routes.js"></script>
        <script src="charts/main.controller.js"></script>
        <script src="sidebar/sidebar.controller.js"></script>
        <script src="navbar/navbar.controller.js"></script>
        <!-- endbuild -->
    </body>
</html>
